* {
    marge: 2cm; 
    padding : 0; 
    overflow-x: hidden; 
} 




img{
    width: 30%;
 }

ol {

    color: blue

}

p {

    font-size: 20px; 
    color: blue;
}
h2 { color: black}
h1{
    
    color: green
 }  
